.login-page{
    display: flex;
    justify-content: center;
}
.form-container{
    display: flex;
    flex-direction: column;
    gap:10px;
    width:80%;
    max-width: 500px;
}
.form-inputs{
    padding: 10px;
    font-size: 14px;
}
