*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
img{
  max-width: 100%;
  height: 100%;
}
.blog-page{
  max-width: 900px;
  margin:0 auto; /* for centering the entire dashboard */
  padding:10px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center;
}
.nav-brand{
  font-weight: bold;
  font-size: 1.6rem;
}
.nav-user-link{
  display: flex;
  gap:15px;
}
.posts{
  width: 100%;
  padding:0.5rem;
  gap:0.5rem;
  max-height: 15rem;
  display: grid;
  grid-template-columns: 0.6fr 1fr;
}
.post-content{
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height: 100%;
  overflow: hidden;
    justify-content: space-around;
}
.post-content .post-title{
 margin: 0;
 text-overflow: ellipsis;
  overflow: hidden;
  text-align: justify;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.post-info{
  display: flex;
  align-items: center; 
  gap: 10px;
}
.post-info .post-author-picture img{
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.separator{
  height: 0.1rem;
  width: 0.1rem;
  background-color: black;
}
.post-label{
  display: flex;
  gap: 0.2rem;
}
.post-label>*{
  background-color: rgba(0,0,0,0.1);
  border-radius: 10px;
  padding: 0 10px;
}
.post-body{
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: justify;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}